/*ESTILOS GLOBALES*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*MENU*/
nav{
    position: fixed;
    background-color:#333;
    width: 100%;
    height: 54px;
    top: 0;
}

nav ul{
    margin: 0px auto;
    width: 45%;
    background-color: red;
}

nav ul li a{
    float: left;
    padding: 17px;
    color: white;
    transition: all 300ms;
}

nav ul li a:hover{
    cursor: pointer;
    color: #333;
    background-color: antiquewhite;
}

header{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
}

img{
    border-radius: 50%;
}

main{
    width: 70%;
    margin: 20px auto;
}

main h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

main section{
    border-bottom: 1px solid #333;
    padding: 30px;
}

main #habilidades ul li{
    display: inline;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

main #experiencia li, #proyectos li{
    margin-bottom: 10px;
    transition: all 300ms;
}

main #proyectos li:hover{
    cursor: pointer;
    text-decoration: underline;
    color:burlywood;
}

main #contacto form{
    margin-top: 15px;
}

main #contacto form input, textarea, button{
    width: 97%;
    padding: 10px;
    margin-bottom: 5px;
}

button{
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    transition: all 300ms;
}

button:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    color: #333;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

